/* ••••••••••••••••••
•••••••GLOBAL••••••••
•••••••••••••••••• */

html {
/*   font-size: 17px; */
  margin: auto;
}

.page_title {
  text-align: center;
  font-family: 'Swear Display', serif;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

/* palette couleurs:
  bleu clair = 90, 156, 191
  bleu foncé=50,58,96
  jaune=205, 244, 249
  beige clair=238, 236, 221 */

/* polices:
  font-family: 'Swear Display', serif;
  font-family: 'PT Sans Pro', sans-serif; */



/* ••••••••••••••••••
••••••••HEADER•••••••
•••••••••••••••••• */

.nav li {
  display: inline;
}

.header {
  height: 11em;
  width: 100%;
  background-color: rgb(50, 58, 96);
  display: inline-block;
}

.header a{
  font-family: 'Swear Display', serif;
  text-decoration: none;
  color: rgb(238, 236, 221);
  padding: 2em;
  font-size: 1.5em;
  letter-spacing: 0.06em;
  font-weight: 400;
}

.header a:hover {
  color: rgb(205, 244, 249);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  align-items: center;
  justify-content: flex-end;
}

.blogtitle {
  font-family: 'Swear Display', serif;
  font-weight: 400;
  font-size: 2em;
}


/* ••••••••••••••••••
•••••••••MAIN••••••••
•••••••••••••••••• */

.main {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* ••••••••••••••••••
••••••••INTRO••••••••
•••••••••••••••••• */

.intro {
  padding: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  display: flex;
  background-image: url("/public/assets/images/Camille_Corot_liseuse.jpg");
}

.intro_text {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(50,58,96);
  width: 53em;
  display: block;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  font-family: 'PT Sans Pro', sans-serif;
  font-weight: 100;
}

.intro img {
  width: 35em;
}

.intro h2 {
  font-family: 'Swear Display', serif;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 0.05em;
}

.intro p {
  font-size: 1.2em;
}


/* ••••••••••••••••••
••••••A LA UNE•••••••
•••••••••••••••••• */

.headline {
  padding: 3em;
  display: flex;
  width: 60%;
  border: black solid 2px;
  margin: 5em auto 5em auto;
  justify-content: space-around;
/*   position: relative; */
}

.headline h2 {
  font-family: 'Swear Display', serif;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.headline_text h3 {
  font-family: 'Swear Display', serif;
  font-size: 1.7em;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}
.headline_text h4 {
  font-family: 'Swear Display', serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.05em;
  margin-top: 0;
}

.headline img {
  width: 50%;
  object-fit: cover;
/*   position: absolute;
  top: 3em;
  left: 33em; */
}

.headline_text {
  font-family: 'PT Sans Pro', sans-serif;
  display:inline-block;
}

.headline a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-family: 'Swear Display', serif;
  background-color: rgb(50, 58, 96);
  border-radius: 0.2em;
  padding: 0.7em;
  letter-spacing: 0.05em;
}

.headline p {
  margin-bottom: 2.5em;
  font-size: 1.2em;
}

.headline_intro {
  padding-right: 3em;
  padding-bottom: 3em;
/*   background-color: rgba(205, 244, 249, 0.9); */
  color: rgb(50, 58, 96);
  width: 30em;
  text-align: left;
}

/* ••••••••••••••••••
•••••NEWSLETTER••••••
•••••••••••••••••• */

.newsletter {
  padding: 0em 2em 2em 2em;
  margin-bottom: 5em;
  margin-top: 7em;
  font-size: unset;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
/*   position: relative; */
}

.newsletter_image {
  width: 30%;
}

.newsletter_text {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.2em;
  background-color: rgba(238, 236, 221, 0.8);
  color: rgb(50,58,96);
  width: 26em;
  display: grid;
  justify-content: space-between;
/*   height: 28em; */
/*   position: absolute;
  top: 2em;
  left: -26em; */
}

.newsletter h3 {
  font-family: 'Swear Display', serif;
  font-weight: 400;
  font-size: 2.3em;
  letter-spacing: 0.05em;
  margin-top: 0.6em;
}

.newsletter p {
  font-family: 'PT Sans Pro', sans-serif;
}

.newsletter_form {
  display: flex;
  justify-content: space-between;
}

#email {
  width: 20em;
  padding: 0.5em;
  font-size: 1em;
  font-family: 'PT Sans Pro', sans-serif;

}

.submit_button {
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-family: 'Swear Display', serif;
  background-color: rgb(50, 58, 96);
  border-radius: 0.2em;
  padding: 0.5em;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

.newsletter_mentions {
  font-size: 0.7em;
  color: rgb(50, 58, 96);
  line-height: 1.6em;
  padding-right: 2em;
  padding-top: 1em;
  text-align: justify;
}


/* ••••••••••••••••••
••••••••FOOTER•••••••
•••••••••••••••••• */

#footer {
  width: 100%;
  text-align: center;
  font-family: 'Swear Display', serif;
  line-height: 1em;
  letter-spacing: 0.1em;
  margin-top: 10em;
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: rgb(50,58,96);
  color: rgb(238, 236, 221);
}

#footer a {
  font-weight: 400;
}

/* ••••••••••••••••••
••••••SOCIALS••••••
•••••••••••••••••• */

.socials {
  width: 2.6em;
  height: 7em;
  border: rgb(90, 156, 191) solid 1px;
  border-width: 4px 4px 4px 0;
  position: sticky;
  top: 25.5em;
  padding: 0.5em;
  border-radius: 0 10px 10px 0;
  background-color: white;
  display: none;
}

.fa-instagram {
  font-size: 2.5em;
  color: rgb(50, 58, 96);
}

.fa-facebook-square {
  font-size: 2.4em;
  color: rgb(50, 58, 96);
}

.instagram {
  padding-bottom: 1em;
  padding-top: 0.5em;
}

/* ••••••••••••••••••
••••••BOOK LIST••••••
•••••••••••••••••• */

/* ••••••••••••••••••
••••AUTHOR LIST••••••
•••••••••••••••••• */

.list_container {
  margin: auto;
  width: 80%;
  text-align: center;
}

.list_container h2 {
  font-family: 'Swear Display', serif;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 0.05em;
}

.list_container ul {
  font-family: 'Swear Display', serif;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  text-align: left;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.list_container_author::first-letter {
  color: rgb(90, 156, 191);
  font-size: 130%;
} 

.list_container a {
  font-family: 'PT Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  text-align: left;
  text-decoration: none;
  color: rgb(90, 156, 191);
}

.booklist {
  font-size: 0.8em;
}

.summary_card {

  width: 60%;
  text-align: center;
  border: black solid 2px;
  margin: 5em auto 5em auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.summary_content {
  width: 80%;
  margin-top: 0;
  padding-left: 2em;
  margin-bottom: 3em;
}

.summary_content a {
  text-decoration: none;
  color: rgb(90, 156, 191);
}

.summary_card h3 {
  font-family: 'Swear Display', serif;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-align: left;
  padding-top: 0;
  margin-top: 0;

}

.summary_card p {
  font-family: 'PT Sans Pro', sans-serif;
  font-size: 1em;
  text-align: left;
  letter-spacing: 0.05em;
}

.summary_couv {
  width: 9em;
}





/* ••••••••••••••••••
•••••BOOK REVIEW•••••
•••••••••••••••••• */

.review {
  border: black solid 2px;
  width: 43%;
  margin: 5em auto 5em auto;
}

.review_card {
  font-family: 'PT Sans Pro', sans-serif;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
}

.review_text h3 {
  font-family: 'Swear Display', serif;
  font-size: 3em;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 0;
}

.review_text h4 {
  font-family: 'Swear Display', serif;
  font-size: 2em;
  font-weight: 100;
  padding-top: 0;
  margin-top: 0;
}

.review_image {
  width: 100%;
  margin: auto auto 1em auto;
  height: 40em;
  object-fit: cover;
  margin-bottom: 2.5em;
}

.review_couv {
  width: 6em;
}

.summary_review {
  padding-top: 1em;
}

.review_link a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-family: 'Swear Display', serif;
  background-color: rgb(50, 58, 96);
  border-radius: 0.2em;
  padding: 0.7em;
  letter-spacing: 0.05em;
}

.review_link a:hover {
  color: rgb(205, 244, 249);
}

.review_link {
  text-align: center;
}
